<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">

<div layout:fragment="content">

  <div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" th:value="${entity}" class="form-control input-search" />
      <label class="form-label" for="form1">Tìm kiếm</label>
    </div>

    <div class="btn-group shadow-0">
      <button type="button" style="color:green" class="btn btn-link dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
        Tìm kiếm bằng
      </button>
      <ul class="dropdown-menu" style="z-index=10000">
        <li><hr class="dropdown-divider" />Chi tiết</li>
<!--        <li><a class="dropdown-item enter-search-job-id" >Số CMND</a></li>-->
<!--        <li><a class="dropdown-item enter-search-job-name">Tên Sinh Viên</a></li>-->
        <li><a class="dropdown-item enter-search-job-name-company">Tên Công Ty </a></li>
        <li><a class="dropdown-item enter-search-job-name">Tên Công Việc</a></li>
<!--        <li><a class="dropdown-item enter-search-job-major">Mã Ngành(CT)</a></li>-->
      </ul>

    </div>
  </div>
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th class="th-sm">Số CMND
      </th>
      <th class="th-sm">Tên Sinh Viên
      </th>
      <th class="th-sm">Mã Ngành(TN)
      </th>
      <th class="th-sm">Mã Ngành(CT)
      </th>
      <th class="th-sm">Tên Công Ty
      </th>
      <th class="th-sm">Thời Gian Làm Việc
      </th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="job : ${job}">
      <tr>
        <td th:text="${job.student.idStudent}">38</td>
        <td th:text="${job.student.name}"></td>
        <td>
          <ul>
            <th:block th:each="graduation : ${graduation}">
              <li style="color:red" th:if="${graduation.student.idStudent == job.student.idStudent}" th:text="${graduation.major.idMajor}"></li>
              <p style="color:green" th:if="${graduation.student.idStudent == job.student.idStudent}" th:text="${graduation.major.nameMajor}"></p>
            </th:block>
          </ul>
        </td>
        <td th:text="${job.major.idMajor} + -- + ${job.major.nameMajor}">

        </td>
<!--        <td   th:text="${graduation.student.graduation.idMajor}">Software Engineer</td>-->
        <td th:text="${job.nameCompany}">London</td>
        <td th:text="${job.timeJoinJob}">38</td>
      </tr>
    </th:block>
    </tbody>
    <tfoot>
    <tr>
      <th class="th-sm">Số CMND
      </th>
      <th class="th-sm">Tên Sinh Viên
      </th>
      <th class="th-sm">Mã Ngành(TN)
      </th>
      <th class="th-sm">Mã Ngành(CT)
      </th>
      <th class="th-sm">Tên Công Ty
      </th>
      <th class="th-sm">Thời Gian Làm Việc
      </th>
    </tr>
    </tfoot>
  </table>



</div>
</html>