<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<div layout:fragment="content">
    <form method="POST" th:action="@{/student/new}" th:object="${graduation}">

        <div class="input-group">
            <input class="input--style-2" type="text" placeholder="Tên sinh viên" th:field="*{nameStudent}">
        </div>
        <span class="errors-valid" th:if="${#fields.hasErrors('nameStudent')}" th:errors="*{nameStudent}"></span>

        <div class="input-group">
            <input class="input--style-2" type="text" placeholder="Số CMND"  th:field="*{idStudent}">
        </div>
        <span class="errors-valid" th:if="${#fields.hasErrors('idStudent')}" th:errors="*{idStudent}"></span>


        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2" type="text" placeholder="Hệ Tốt Nghiệp" th:field="*{greduationSystem}">
                </div>
                <span class="errors-valid" th:if="${#fields.hasErrors('greduationSystem')}" th:errors="*{greduationSystem}"></span>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2" type="text" placeholder="Loại Tốt Nghiệp" th:field="*{greduationType}" name="res_code">
                </div>
                <span class="errors-valid" th:if="${#fields.hasErrors('greduationType')}" th:errors="*{greduationType}"></span>

            </div>
        </div>
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2 js-datepicker" type="text" placeholder="Ngày Tốt Nghiệp" th:field="*{dateGreduation}">
                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                </div>
                <span class="errors-valid" th:if="${#fields.hasErrors('dateGreduation')}" th:errors="*{dateGreduation}"></span>

            </div>
            <div class="col-2">
                <div class="input-group">
                    <div class="rs-select2 js-select-simple select--no-search">
                        <select name="school" required th:field="*{idSchool}">
                            <option disabled="disabled" selected="selected" value="">Học tại trường</option>
                            <th:block th:each="p_school : ${p_school}">
                                <option th:utext="${p_school.nameSchool}" th:value ="${p_school.idSchool}" ></option>
                            </th:block>

                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group">
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="class" th:field="*{idMajor}">
                    <option disabled="disabled" selected="selected" value="123">Ngành Học</option>

                    <th:block th:each="p_major : ${p_major}">
                        <option th:utext="${p_major.nameMajor}" th:value="${p_major.idMajor}" ></option>
                    </th:block>
                </select>
                <div class="select-dropdown"></div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2" type="text" placeholder="Số Điện Thoại" th:field="*{phoneStudent}" value="" >
                </div>
                <span class="errors-valid" th:if="${#fields.hasErrors('phoneStudent')}" th:errors="*{phoneStudent}"></span>

            </div>
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2" type="text" placeholder="Địa chỉ" th:field="*{addrStudent}">
                </div>
                <span class="errors-valid" th:if="${#fields.hasErrors('addrStudent')}" th:errors="*{addrStudent}"></span>

            </div>
        </div>
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <input class="input--style-2" type="text" placeholder="Email" th:field="*{emailStudent}" >
                </div>
                <span class="errors-valid" th:if="${#fields.hasErrors('emailStudent')}" th:errors="*{emailStudent}"></span>
            </div>
        </div>

        <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">Thêm thông tin</button>
        </div>
    </form>
</div>


</html>
